<h2>Email</h2>
	<p><a href="mailto:web_site@jldupont.com"><img src="/res/img/email.png"></a></p>
	
<h2>Yahoo</h2>
	<a href="http://messenger.yahoo.com/edit/send/?.target=jl_dupont260203"><img border="0" src="http://opi.yahoo.com/yahooonline/u=jl_dupont260203/m=g/t=2/l=us/opi.jpg"></a>
	
<h2>Skype</h2>
	<p>Use for <i>chat</i> only.</p>
	<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
	<a href="skype:jean-lou%2edupont?call"><img src="http://mystatus.skype.com/bigclassic/jean-lou%2edupont" style="border: none;" width="182" height="44" alt="My status" /></a>
	
<h2>Facebook</h2>
	<p><a href="http://www.facebook.com/profile.php?id=671159015" target="_blank"><img src="/res/img/fb.png"></a></p>