<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
	<head> 
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
		<meta http-equiv="Content-Language" content="en-us" /> 
 
		<title>Jean-Lou Dupont | WEB site</title> 
 
		<meta name="ROBOTS" content="ALL" /> 
		<meta http-equiv="imagetoolbar" content="no" /> 
		<meta name="MSSmartTagsPreventParsing" content="true" /> 
		<meta name="keywords" content="Network, networking, communications, programming" /> 
		<meta name="description" content="Jean-Lou Dupont's WEB site" /> 
 
		<link href="/pages/css/base.css" type="text/css" media="screen" rel="stylesheet" />
		<link href="/pages/css/pygments.css" type="text/css" rel="stylesheet" /> 				
	</head>		
	<body>
		<div id="container">
			<div id="header">
				<h1 id="logo"><a href="http://www.jldupont.com/">Jean-Lou Dupont - WEB site</h1> 
				<ul id="nav-global"> 
					<li id="nav-homepage"><a href="http://www.jldupont.com/">Home</a></li> 
					<li id="nav-weblog"><a href="http://jldupont.blogspot.com/">Weblog</a></li> 
				</ul> 			
			</div><!-- END HEADER -->
			<div id="billboard"> 
  				<h2><hr></h2> 
			</div> 		
			<div id="columnwrap"> 	
				<div id="content-main">
				some content
				</div><!-- END content-main --> 
				<div id="content-related" class="sidebar">
					<h2>Contents</h2>
				</div> <!-- END content-related , sidebar -->			
			</div><!-- END columnwrap -->
		</div><!-- END CONTAINER --> 	
	
		<script type="text/javascript"> 
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script> 
		<script type="text/javascript"> 
			var pageTracker = _gat._getTracker("UA-3233899-1");
			pageTracker._trackPageview();
		</script> 	
	</body>
</html>
